<div id='<%= dom_id task %>' draggable='true' data-move-task-target='task' 
     class='task' data-action='dragstart->move-task#startDrag'>
  <h5>
    Name: <%= task.name %>
    <span id='<%= dom_id task, 'toggle' %>' class='float-end' data-action='click->move-task#toggleHidden'>+</span>
  </h5> 
  <div id='<%= dom_id task, 'hide' %>' hidden>
    <h6>Stuff for the task</h6>
    <p>This is a line of text</p>
    <p>This is a line of text</p>
    <p>This is a line of text</p>
    <p>This is a line of text</p>
    <p>This is a line of text</p>
    <p>This is a line of text</p>
    <p>
      <strong>List:</strong>
      <%= task.list_id %>
    </p>
  </div>
</div>
